<?xml version="1.0"?>
<model>
  <name>VL53L7CX ToF Sensor</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>user@todo.todo</email>
  </author>

  <description>
    A simulated VL53L7CX Time-of-Flight sensor using a depth camera with 8×8 resolution
  </description>
</model>
