<?xml version="1.0"?>
<model>
  <name>Pillar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>user@todo.todo</email>
  </author>

  <description>
    A 2.0 m tall pillar with 0.3 m diameter and 0.5 m base
  </description>
</model>
