<?xml version="1.0"?>
<model>
  <name>Perimeter Wall</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>user@todo.todo</email>
  </author>

  <description>
    A 1.5 m tall perimeter wall segment for the competition field
  </description>
</model>
